# macOS
.DS_Store
**/.DS_Store

# Jekyll build
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler
.bundle/
vendor/bundle/

# Ruby
*.gem

# Node (om du seinare brukar npm)
node_modules/

# editorar
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Generert data frå pipeline
utdata/*.csv

# macOS misc
*.swp